[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim"]
	path = vim
	url = git@github.com:pricco/dotvim.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:pricco/dotzsh.git
